In [186]:
# Importing pandas module [pd alias]
import pandas as pd

In [187]:
# number of rows and columns
df.shape

(5214, 4)

In [188]:
# Importing mempool.csv file into a Dataframe using pandas
df  = pd.read_csv("mempool.csv")
df.head()

,tx_id,fee,weight,parents
0,2e3da8fbc1eaca8ed9b7c2db9e6545d8ccac3c67deadee...,452,1620,NaN
1,79c51c9d4124c5cbb37a85263748dcf44e182dff83561f...,682,1136,6eb38fad135e38a93cb47a15a5f953cbc0563fd84bf1ab...
2,b0ef627c8dc2a706475d33d7712209ec779f7a8302aaea...,226,900,NaN
3,8c25f9be93990b96e8bc363778d6debee6867c7d73cefa...,258,1032,NaN
4,edc82751537be6afcb21c0229d8d20916d8e742a363ab2...,452,1616,NaN

In [185]:
#check the data types 
df.dtypes

tx_id       object
fee          int64
weight       int64
parents     object
dtype: object

In [189]:
#concise summary of ur DataFrame
df.info

<bound method DataFrame.info of                                                   tx_id   fee  weight  \
0     2e3da8fbc1eaca8ed9b7c2db9e6545d8ccac3c67deadee...   452    1620
1     79c51c9d4124c5cbb37a85263748dcf44e182dff83561f...   682    1136
2     b0ef627c8dc2a706475d33d7712209ec779f7a8302aaea...   226     900
3     8c25f9be93990b96e8bc363778d6debee6867c7d73cefa...   258    1032
4     edc82751537be6afcb21c0229d8d20916d8e742a363ab2...   452    1616
...                                                 ...   ...     ...
5209  e0b5d2fe598fccdd716df743323346da227dfc9d2a6c3e...   850     568
5210  e33973618a9774aeb85548368efeaddb206ef206717e72...  1496    1488
5211  88a8c7118ac82199523eb10670f49c8b7f5ac82d404907...  1121     900
5212  4c5b18c0870665958fc2a377e425b70f8d01f03395af72...   862     576
5213  631dee801c00241fc61bccc56112cf7670ce7150f4c642...   850     568

                                               parents
0                                                   NaN
1     6eb38fad135e38a93cb47a15a5f953cbc0563fd84bf1ab...
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
5209                                                NaN
5210                                                NaN
5211  33c7c7bcb1cc07743fc3240cac6af31e4d4a8f535cae71...
5212                                                NaN
5213                                                NaN

[5214 rows x 4 columns]>

In [190]:
#The describe() method is used for computing some statistical calculations 
df.describe()

                 fee         weight
count    5214.000000    5214.000000
mean     1435.671461    2000.690449
std      5687.415106    7013.491561
min       110.000000     440.000000
25%       336.000000     888.000000
50%       592.500000    1132.000000
75%      1008.000000    1136.000000
max    201700.000000  295164.000000

In [175]:
# This function takes 3 parameters - dataframe and two features as parameters 
# Sorting the Dataframe using sort_values for multiple columns i.e. Fee & Weight & maximise the fee & minimise the weight

def sort_trans(df, maxfee, minwght):
    df = df.sort_values([maxfee, minwght], ascending=[False, True]).reset_index(drop=True)
    return df

In [176]:
def check_weight(x):
    if min_weight + x['weight'] <= highest_weight:
        return True
    else:
        return False

In [177]:
def check_in_list(x):
    if str(x) in final_set_of_txids:
        return True
    else:
        return False

In [178]:
def check_parent(x):
    if str(x[3]) != "nan":
        parent_list = str(x[3]).split(";")
        for i in parent_list:
            if(check_in_list(i)):
                continue
            else:
                txnindex = df[df['tx_id'] == i].index.item()
                k = df.loc[txnindex]
                check_add_txn(k)

In [179]:
def add_to_list(x):
    global min_weight
    txnID = x[0]
    weight = x[2]
    min_weight += weight
    final_set_of_txids.append(txnID)

In [180]:
def check_add_txn(x):
    if(check_weight(x)):
        if(not check_in_list(x)):
            check_parent(x)
            if(check_weight(x)):
                add_to_list(x)

In [181]:
def mempoolMain(df):
    sorted_transactions = sort_trans(df, "fee", "weight")
    for i in range(len(sorted_transactions)):
        txnVar =  sorted_transactions.loc[i]
        check_add_txn(txnVar)

In [182]:
def write_to_file(fin_list):
    file = open("block.txt","a")
    for i in fin_list:
        file.write(str(i) + '\n')
    file.close()

In [183]:
highest_weight = 4000000
min_weight = 0
final_set_of_txids = []

data = df
mempoolMain(data)


write_to_file(final_set_of_txids)